* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f3f3f3;
}
main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
h2 {
  color: rgb(36, 36, 36);
}

#cep-form {
    margin: 10px 0;
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(37, 37, 255);
  color: #f1f1f1;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  background-color: #e0e0e0;
}

span {
  color: rgb(63, 63, 63);
  height: 20px;
}

.info-box{
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  opacity: 0;
}
.info-box div{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 6px;
}
.infoClass{
  padding: 6px;
  padding-top: 4px;
  line-height: 14px;
  font-size: 12px;
  border-radius: 5px;
  background-color: rgb(212, 212, 212);
  width: 300px;
  min-height: 22px;
}
.infoLabel{
  line-height: 8px;
  padding: 6px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  margin-left: 16px;
}
#ddd{
  max-width: 32px;
  margin-right: 64%;
}
#uf{
  max-width: 32px;
  margin-right: 64%;
}

